<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<title>Gabriel Moreno Moreyra</title>
		<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="/static/img/Logo.png" %}">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	</head>
	<body>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="card card-body h-100  border-info" id="profile-wrapper">
						<img id="profile-pic" src="/static/img/profile.jpeg">
						<hr>
						<h4>Hi I'm Gabi!</h4>
						<p>I love coding, doing research and collaborating</p>
					</div>
				</div>
	
				<div class="col-lg-9">
					<div class="card card-body h-100  border-info">
						<h4>My Short Term Goals</h4>
						<hr>
						<p>After learning and helping on my current team I am ready to take a next step and be able to work as a Python/Django developer.</p>
						<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team &amp; learn from others with more experience than myself.</p>
						<p>I’m someone that jumps before I can talk myself out of doing something scary.</p>
	
						<ul class="social-links">
							<li class="text-secondary">
								<a target="_blank" href="https://www.linkedin.com/in/gabrielmorenook/">
									<img class="social" src="/static/img/linkedin.png">
								</a>Linkedln
							</li>
							<li class="text-secondary">
								<a target="_blank" href="https://github.com/Arwiim">
									<img class="social" src="/static/img/github.png">
								</a>Git
							</li>
							<li class="text-secondary"><a target="_blank" href="/static/pdf/CVES.pdf"><img class="social" src="/static/img/resume.png"></a>ES</li>
							<li class="text-secondary"><a target="_blank" href="/static/pdf/CVEN.pdf"><img class="social" src="/static/img/resume.png"></a>EN</li>
						</ul>
	
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<div class="card card-body h-100">
						<h5>My Experience as a Developer</h5>
						<hr>
						<p>Analyst IT at Mercado Libre.</p>
						<p>Task resolution automation by developing solutions on Bash, Python scripting and C programming.</p>
						<p>Participate in the design, implementation and maintenance of internal user applications.</p>
						</div>
				</div>
	
				<div class="col-lg-6">
					<div class="card card-body h-100">
						<h5>What I Know</h5>
						<hr>
						<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, Nginx, Gunicorn and APIs such as google maps and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
						<p>PS: Working on AWS and Machine Learning.</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<div class="card card-body h-100">
						<h5>How I Learn</h5>
						<hr>
						<p>Collaborating with projects &amp; build ugly prototypes first.</p>
	
						<p>I can learn just about anything by having a final product to tear apart piece by piece. I read a lot of documentation and I do tests if I have the doubts to be able to apply them in the real world.</p>
					</div>
				</div>
	
				<div class="col-lg-6">
					<div class="card card-body h-100">
						<h5>My First Job as a Developer</h5>
					<hr>
					<p>3 months after writing my first Hello World program on September 8th 2017 (While working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on.</p>
	
					<p>Before I knew it, the old system was upgraded to a better one, and to my surprise it was my first achievement as a developer.</p>
	
					</div>
				</div>
			</div>
			<br>
		</div>
	
	</body>
</html>